body{
    background: rgb( 137,191,211);
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.assignments{
    display:flex;
    flex-wrap: wrap;
}
.assignment{
    width: 20%;
    padding: 10px;
    margin: 10px;
    background: lightblue;
    border-radius: 20px;
    padding: 20 px 10 px;
}

.assignment img{
    width:200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border: 4px dashed #074366 ;
    display: block;
    margin: auto;

}

.assignment img:hover{
    border: 4px dashed #FFF
}
h1{

    color: rgb(54,123,147);
    text-align:center;
    
}

h1:hover{
    color: #FFF;
    
}

h2{
    text-align: center;
}

a{
    
    text-decoration: none;
    color: #074366 

}

a:hover{
    color: #FFF
}