body{
    background: rgb( 137,191,211);
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.assignment{
    display:flex;
    padding: 10px;
    margin: 15px;
    background: lightblue;
}

.assignment img{
    width:200px;
    padding: 10px;
}
h1{
    color: rgb(54,123,147);
    text-align:center;
}